.viewGame {
  width: 100%;
  height: 100%;           /* ocupa todo el alto del main */
  background-color: green;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;        /* permite bloques debajo en móviles */
  box-sizing: border-box;
}

/* móviles */
@media (max-width: 576px) {
  .viewGame {
    flex-direction: column;  /* uno debajo del otro */
    padding: 10px;
  }
}

/* tablets */
@media (min-width: 577px) and (max-width: 992px) {
  .viewGame {
    padding: 20px;
  }
}

/* escritorio */
@media (min-width: 993px) {
  .viewGame {
    padding: 40px;
  }
}
